* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  color: #263238;
}

/* HEADER */

.header {
  background: #f5f0e8;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
  color: #173f5f;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: #173f5f;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #16817a;
}

/* HERO */

.hero {
  padding: 60px 8%;
  max-width: 1100px;
  margin: auto;
}

.small-heading {
  color: #16817a;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hero h1 {
  color: #173f5f;
  font-size: 48px;
  margin: 15px 0;
}

.hero p {
  max-width: 700px;
  line-height: 1.6;
}

.primary-button {
  background: #173f5f;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 15px 0 25px;
}

.primary-button:hover {
  background: #16817a;
}

.campus-image {
  width: 100%;
  max-width: 900px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

/* FEATURES */

.features {
  background: #f5f0e8;
  padding: 60px 8%;
  text-align: center;
}

.features h2 {
  color: #173f5f;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1000px;
  margin: 30px auto;
}

.feature-card {
  background: white;
  padding: 25px;
  border-radius: 8px;
}

.feature-card:hover {
  transform: translateY(-5px);
}

/* EXPERIMENT 3 */

.interactive-section {
  padding: 60px 8%;
  max-width: 1000px;
  margin: auto;
}

.interactive-section h2 {
  color: #173f5f;
}

.interaction-box {
  background: #f5f0e8;
  padding: 25px;
  margin-top: 25px;
  border-radius: 8px;
}

.interaction-box input {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 15px;
}

#liveMessage {
  color: #16817a;
  font-weight: bold;
}

.announcement-card {
  margin-top: 15px;
  padding: 15px;
  background: white;
  border-left: 4px solid #16817a;
  display: flex;
  justify-content: space-between;
}

.remove-button {
  background: #173f5f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* CONTACT */

.contact-section {
  background: #f5f0e8;
  padding: 50px 8%;
  text-align: center;
}

.contact-section h2 {
  color: #173f5f;
}

/* FOOTER */

footer {
  background: #173f5f;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .card-container {
    grid-template-columns: 1fr;
  }

  .campus-image {
    height: 220px;
  }
}